.body {
/*    background-color: rgb(39, 41, 52);*/
    background: rgb(39, 41, 52);
}

.can-giua-1 {
    text-align: center!important;
}


.bg-dark2 {
    background-color: rgb(34 33 33 / 75%);
    box-shadow: rgb(0 0 0) 0px 9px 15px 5px;
}



.im1 {
    margin: -236px 317px;
    display: flex;
    opacity: 0.5;
    height: 477px;
    width: 477px;
}


.kho {
    position: relative;
    width: 40px;
    height: 40px;
    background: #515254;
    border-radius: 10px;
    cursor: pointer;
    margin: 0px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    transition-delay: 0.8s;
}

.kho.active {
    width: 80px;
    height: 80px;
    transition-delay: 0s;

}


.kho span {
    position: absolute;
    width: 6px;
    height: 6px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transform: translate(calc(12PX * var(--x)),
    calc(12PX * var(--y)));
    transition: transform 0.5s, width 0.5s,height 0.5s,
    background 0.5s;
    transition-delay: calc(0.1s * var(--i));
}


.kho.active span {
    width: 18px;
    height: 18px;
    background: #333849;
    transform: translate(calc(23px * var(--x)),
    calc(23px * var(--y)));
}


.kho span ion-icon {
    transition: 0.5s;
    font-size: 0em;
}

.kho.active span ion-icon {
    font-size: 10px;
    color: white;
}

.kho.active span:hover ion-icon {
    color: #2dfc52;
}


.ca2 {
    justify-content: center;
    align-items: center;
    display: grid;
    margin: 365px 323px -27px;
    gap: 55px 191px;
}


.can {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 1303px 22px 706px;
}

.can-giua-2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-blend-mode: multiply;
    /* animation: color1 5s linear infinite; */
}

/* @keyframes color1
{
    0%
    {
        filter: hue-rotate(0deg);
    }
    100%
    {
        filter: hue-rotate(360deg);
    }
} */


.can-giua-2::before {
    content: ' ';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    height: 600px;
    background: radial-gradient(rgba(255, 0, 0, 0.75),
    transparent,transparent);
    border-radius: 50%;
}


.can-giua-2::after {
    content: ' ';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 800px;
    height: 800px;
    background: radial-gradient(rgba(255, 0, 0, 0.75),
    transparent,transparent);
    border-radius: 50%;
}


.icon1 {
    position: relative;
    width: 175px;
    height: 190px;
    z-index: 1;
    font-size: 150px;
}

.icon1 ion-icon {
    filter: drop-shadow(0 20px 10px #000);
    margin: -334px 5px 197px;
}


.pre {
    text-align: center;
    color: white;
    font-size: 0.2em;
    margin: -208px 0px 0px -27px;
    text-shadow: 0 10px 10px #000;
    overflow: hidden;
    animation: text 5s linear infinite;
}

@keyframes text
{
    0%,90%,100%
    {
        width: 0px;
    }
    30%,60%
    {
        width: 210px;
    }
}



.thanhdai1 {
    display: flex;
    background: #0a0a0ab3;
    width: 100%;
    height: 70px;
    margin: -205px 0px -1199px 0px;
    box-shadow: rgb(0 0 0) 0px 9px 15px 5px;
}


.ub1 {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
    color: rgb(242, 244, 251);
    font-size: 26px;
    font-weight: 700;
    letter-spacing: -0.8px;
    margin: 0px 56px;
    width: 30%;
}


.ul1 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    list-style: none;
    padding: 0px;
    margin: 0px;
}


.li1 {
    width: 60px;
    height: 60px;
    background: url(minecraft_discord.png) center center / contain no-repeat;
    padding: 0px;
    margin-inline-start: 40px;
    border-radius: 10px;
}


.li2 {
    width: 60px;
    height: 60px;
    background: url(lion.png) center center / contain no-repeat;
    padding: 0px;
    margin-inline-start: 40px;
    border-radius: 10px;
}


.li3 {
    width: 60px;
    height: 60px;
    background: url(minecraft.png) center center / contain no-repeat;
    padding: 0px;
    margin-inline-start: 40px;
    border-radius: 10px;
}


.li4 {
    width: 60px;
    height: 60px;
    background: url(free_fire.png) center center / contain no-repeat;
    padding: 0px;
    margin-inline-start: 40px;
    border-radius: 10px;
}



.li5 {
    width: 60px;
    height: 60px;
    background: url(roblock.png) center center / contain no-repeat;
    padding: 0px;
    margin-inline-start: 40px;
    border-radius: 10px;
}





.xx1 {
    color: white;
    margin: 98px -529px 539px;
    font-weight: bold;
    font-size: 50px;
    width: 475px;
}



.xx2 {
    color: #ffffffb0;
    margin: -528px -523px 560px;
    font-weight: bold;
    font-size: 15px;
    width: 306px;
}



.bt1 {
    display: flex;
    height: 40px;
    width: 100px;
    margin: 34px 0px 0px;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 8px;
    background: rgb(57, 148, 255);
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}

.bt4 {
    display: flex;
    height: 40px;
    width: 100px;
    margin: -40px 137px 74px;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 8px;
    background: rgb(57, 148, 255);
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}


.bt1:hover {
    background: rgb(118 57 255);
    transition: 0.5s;
}

.bt4:hover {
    background: rgb(118 57 255);
    transition: 0.5s;
}



.bt2 {
    color: wheat;
    margin: 9px 16px 0px;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: opacity 0.15s ease-out 0s;
    text-decoration: none;
}


.sx1 {

    height: 53px;
    width: 147px;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 8px;
    background: rgb(57, 148, 255);
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}


.sx2 {
    color: wheat;
    margin: -1px -34px 0px;
    transition: opacity 0.15s ease-out 0s;
    text-decoration: none;
}


.fa {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -70px;
    gap: 100px;
}


.fd1 {
    height: 53px;
    width: 147px;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 8px;
    background: rgb(57, 148, 255);
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}


.fd2 {
    color: wheat;
    margin: -1px -34px 0px;
    transition: opacity 0.15s ease-out 0s;
    text-decoration: none;
}







.bt3 {
    color: wheat;
    margin: 10px 13px 0px;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: opacity 0.15s ease-out 0s;
    text-decoration: none;
}


.thanhdau {
    text-decoration: none;
}





.command1 {
    position: relative;
    background: #00000085;
    margin: 0px 170px 511px;
    width: 300px;
    height: 300px;
    transition: 0.5s;
    left: 85px;
}


.command1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border: 20px solid transparent;
    border-top: 20px solid #17e78c;
    border-right: 20px solid #17e78c;
}


.text1 {
    width: 300px;
    color: white;
    font-size: 20px;
    margin: 40px;
    text-shadow: 0 10px 10px #5a5a5a;
}

.text2 {
    width: 300px;
    color: #00aeff96;
    font-size: 20px;
    margin: 40px;
    text-shadow: 0 10px 10px #5a5a5a;
}








.command1.khoilenh1 {
    position: relative;
    background: #0000004a;
    margin: 17px 82px 327px;
    width: 379px;
    height: 654px;
    transition: 0.5s;
    left: 85px;
}


.command1.khoilenh1 .text1 {
    color: red;
    margin: 8px;
}


.command1.khoilenh1 .text2 {
    width: 0px;
    height: 0px;
    overflow: hidden;
}


.command1 .text3 {
    transition: 0.2s;
    font-size: 0em;
}

.command1.khoilenh1 .text3 {
    font-size: 13px;
    margin: -68px 14px -2px;
    color: white;
    transition: 0.6s;
}

.command1.khoilenh1 .text3:hover {
    color: #2dfc52;
}

.immine {
    visibility: hidden;
}

.command1.khoilenh1 .immine {
    visibility: visible;
    margin: -835px 423px 100px;
    box-shadow: rgb(0 0 0) 0px 9px 15px 5px;
    transition: 0.9s;
}

.imbalo {
    visibility: hidden;
}

.command1.khoilenh1 .imbalo {
    visibility: visible;
    height: 313px;
    width: 422px;
    margin: -308px 424px 100px;
    box-shadow: rgb(0 0 0) 0px 9px 15px 5px;
    transition: 0.9s;
}



.command2 {
    position: relative;
    background: #00000085;
    margin: 241px 187px -467px;
    width: 300px;
    height: 300px;
    left: -573px;
    transition: 0.5s;
}


.command2::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border: 20px solid transparent;
    border-top: 20px solid #e71717;
    border-right: 20px solid #e71717;
}


.text4 {
    width: 300px;
    color: white;
    font-size: 20px;
    margin: 7px 42px 25px;
    text-shadow: 0 10px 10px #5a5a5a;
}

.text5 {
    width: 300px;
    color: #00aeff96;
    font-size: 20px;
    margin: 40px;
    text-shadow: 0 10px 10px #5a5a5a;
}



.command2.khoilenh2 {
    position: relative;
    background: #0000004a;
    margin: 352px 197px -467px;
    width: 379px;
    height: 347px;
    transition: 0.5s;
    left: -573px;
}


.command2.khoilenh2 .text4 {
    color: red;
}


.command2.khoilenh2 .text5 {
    width: 0px;
    height: 0px;
    overflow: hidden;
}


.command2 .text6 {
    transition: 0.2s;
    font-size: 0em;
}

.command2.khoilenh2 .text6 {
    font-size: 13px;
    margin: -68px 14px -2px;
    color: white;
}

.command2.khoilenh2 .text6:hover {
    color: #3ce5ff;
}


.xa1 {
    text-decoration: none;
    color: white;
    font-size: 15px;
}


.gif1 {
    height: 120px;
    width: 120px;
    margin: -72px 61px -73px;
}



.bts1 {
    color: white;
    margin: -318px 408px 223px;
    font-weight: bold;
    font-size: 45px;
    width: 353px;
}

.bts2 {
    color: #ffffffb0;
    margin: -204px 408px 131px;
    font-weight: bold;
    font-size: 15px;
    width: 306px;
}


.ctx1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 31px 24px;
    width: 375px;
    margin: -48px -34px 13px;
}

.css1 {
    text-align: left;
    list-style: none;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(242, 244, 251);
}

.css2 {
    margin-inline-end: 12px;
    width: 40px;
    height: 40px;
    min-width: 40px;
    background: rgba(57, 148, 255, 0.2);
    border-radius: 4px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}


.textplay {
    color: white;
    width: 256px;
    font-size: 25px;
}



.implay {
    visibility: hidden;
}

.command2.khoilenh2 .implay {
    visibility: visible;
    height: 313px;
    width: 422px;
    margin: -308px 424px 100px;
    box-shadow: rgb(0 0 0) 0px 9px 15px 5px;
    transition: 0.9s;
}


.guka {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 64px;
    width: 100%;
    gap: 50px;
}


.dss {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(242, 244, 251);
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
}

.uds {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgba(242, 244, 251, 0.562);
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
    width: 270px;
    right: 43px;
}

.sass {
    margin: 0px 38px 10px;
}


.footer {
    text-align: center;
    padding: 32px 0;
  }

.footer p {
    margin: -52px;
    line-height: 26px;
    font-size: 15px;
    color: #999;
}

  .footer p a {
    color: #5867dd;
    text-decoration: none;
  }

  .footer p a:hover {
    color: #34bfa3;
  }


.fgs {
    height: 280px;
    width: 100%;
    background: rgb(0, 118, 255) url(cay1.png) no-repeat;
    margin: -388px auto 92px;
}

.fgh {
    justify-content: center;
    align-items: center;
    display: flex;
}


.dg {
    text-align: center;
    color: rgb(242, 244, 251);
    font-size: 28px;
    font-weight: 700;
    letter-spacing: -1px;
    padding: 90px;
    width: 808px;
}
