body {
        background: linear-gradient(318deg, #54ffde, #2f0060);
}


.khoi1 {
  width: 500px;
  background: linear-gradient(90deg, #387267, #930b0b);
  border: 2px solid black;
  border-radius: 5px;
  margin: 50px 700px 0px;
}

.container {
  display: flex;
}

.khoi2 {
    background: #0e0e0ec7;
    height: 650px;
    width: 1945px;
    margin: 600px -50px 0px;
}

#k1 {
  margin-top: -300px;
}


.footer {
    background: #192027;
    padding: 32px 700px;
}

.footer p {
    margin: 0;
    line-height: 26px;
    font-size: 15px;
    color: #999;
}

.footer p a {
  color: yellowgreen;
  text-decoration: none;
}


.footer p a:hover {
  color: red;
}